<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>{{ title }}</title>
    </head>
    <body>
        <h1>Миссия Колонизация Марса</h1>
        <h4>И на Марсе будут яблони цвести!</h4>
     {% if "инжен" in title or 'строит' in title%}
        <h2>Инженерные тренажеры</h2>
        <img  src="../static/img/ing.png" alt="Фотография">
     {% else %}
        <h2>Научные симуляторы</h2>
        <img  src="../static/img/sci.png" alt="Фотография">
     {% endif %}
    </body>
</html>
